[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
expyriment = "*"
imageio-ffmpeg = "*"
moviepy = "*"
pandas = "*"
numpy = "*"
web-pdb = "*"

[dev-packages]

[requires]
python_version = "3.7"
